<section class="content-header">
  <h1>
    Users list
    <small>A table with all users and basic information</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin"><i class="fa fa-dashboard"></i> Admin</a></li>
    <li><a href="/admin/users"><i class="fa fa-users"></i> Users</a></li>
    <li class="active">Show</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  Admin/Users#Show
</section>
